footer{background-color: red;}
.logo{height: 100px; width: 200px}
.imgDiesel{height: 110px;align-items: center;background-color:;}
body{font-family:Arial, Helvetica, sans-serif}
.navegacion{background-color: red;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center;font-size: 20px;color: white;}
.cuenta{color:blue;font;text-decoration: none;text-decoration: underline;}
a{color: white; text-decoration: none; align-items: center;}
.cuenta{font-size: 12px;}