.imgDiesel{height: 110px;align-items: center;background-color:;}
a{color: white;font;text-decoration: none;}
footer{background-color: red;}
.navegacion{background-color: red;display: flex;flex-wrap: wrap;flex-direction: row;justify-content: space-around;align-items: center;font-size: 20px;color: white;}
body{font-family: Arial, Helvetica, sans-serif;}
.registro{background-color: aquamarine;}
.yatengocuenta{color: brown;}